@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 142 76% 36%;
    --primary-foreground: 0 0% 98%;
    --secondary: 142 76% 96%;
    --secondary-foreground: 142 76% 36%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 142 76% 96%;
    --accent-foreground: 142 76% 36%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 142 76% 86%;
    --input: 142 76% 86%;
    --ring: 142 76% 36%;
    --chart-1: 142 76% 36%;
    --chart-2: 162 76% 36%;
    --chart-3: 122 76% 36%;
    --chart-4: 182 76% 36%;
    --chart-5: 102 76% 36%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 142 76% 46%;
    --primary-foreground: 0 0% 98%;
    --secondary: 142 76% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 142 76% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 142 76% 14.9%;
    --input: 142 76% 14.9%;
    --ring: 142 76% 83.1%;
    --chart-1: 142 76% 46%;
    --chart-2: 162 76% 46%;
    --chart-3: 122 76% 46%;
    --chart-4: 182 76% 46%;
    --chart-5: 102 76% 46%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  /* .carte-membre::before {
    position: absolute;
    content: "";
    background-image: url("../public/pastef.jpeg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;
    top: -2%;
    z-index: -1;
  } */
  .input-phone input {
    outline: none !important;
    box-shadow: none !important;
  }
}
